
<br><br><br>
<h1>Search Results For:</h1>
<h3>
 <div class="row">
  <% @people.each do |person| %>
  <div class="col-md-2 col-md-4">
    <%= link_to person_path(person.id) do %>
    <%#= image_tag("#{@configuration.base_url}w154#{person.profile_path}") if person.profile_path %><br>
    <%= link_to person.name, person_path(person.id) %>
  <% end %>
  </div>
  <% end %>
</div>
</h3></br></br></br></br>
<div class="container">
<div class="row">
  <% @results.each do |result| %>
  <div class="col-md-4 col-md-3">
    <div class="thumbnail">
      <%= link_to image_tag("http://image.tmdb.org/t/p/w154#{result[2]}", :width => 200, :height => 200), "http://imdb.com/title/#{result[1]}" %>
      <div class="caption">
        <h3><%= link_to result[0], "http://imdb.com/title/#{result[1]}" %></h3>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<!--
<div>
<%# @film.each do |movie| %>
    <ul>
      <li>
        <%#= link_to movie_path(movie.id) do %>
        <%#= image_tag("#{@configuration.base_url}w154#{movie.poster_path}") if movie.poster_path %>
        <%# end %>
      </li>
      <li>
          <%#= link_to movie.title, movie_path(movie.id) %> (<%#= movie.release_date.to_date %>) <br />
        Directors: <%# Tmdb::Movie.crew(movie.id).each do |crew| %>
        <%# if crew['department'] == 'Directing' %>
        <%#= link_to crew['name'], person_path(crew['id']) %>
        <%# end %>
        <%# end %><br>
        Writers:
        Starring: <%# Tmdb::Movie.casts(movie.id).first(3).each do |cast| %>
        <%#= link_to cast['name'], person_path(cast['id']) %> |
        <%# end %><br>

      </li>
    </ul>
</div>
    <%# end if @film %>
 -->
