<h1></h1>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to MovieDB</h1>
    <p>Tell us who you like to watch, and we'll tell you what movies to watch.</p>
    <form class="navbar-form" role="search">
      <div class="form-group", "btn btwn-primary btn-lg">
        <input type="text" class="form-control" placeholder="Search..."><p>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <p><a class="btn btn-primary btn-lg" role="button">Go</a></p>
    </div>
  </div>
</div>


