<h1></h1>
<div class="jumbotron">
 <div class="container">
  <h1>Welcome to MovieDB</h1>
  <p>Tell us who you like to watch, and we'll tell you what movies to watch.</p>
  <div class="form-group", "btn btwn-primary btn-lg">
  <input type="text" class="tokenize" placeholder="Begin by entering the name of actor/actress..."><p>
    <script>
      $('input.tokenize').tokenfield();
    </script>
    <p><a class="btn btn-primary btn-lg" role="button">Go</a></p>
  </div>
</div>
</div>
